* {                             /* Gjør det mulig å bryte opp skjermen i grid*/
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 15px 15px 0px 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px 15px 0px 0px;
}

.flip-card-front {
  background-color:  #38598b;
  color: #e7eaf6;
}

.flip-card-back {
  background-color: #38598b;
  color: #e7eaf6;
  transform: rotateY(180deg);
}

.card-image {
    width: 80%;
    height: 80%; /* Sett ønsket høyde */
    object-fit: cover; /* Beskjær bildet for å fylle området */
    margin-top: 2px; /* Juster denne verdien for å redusere avstanden */
    border-radius: 15px 15px 0px 0px;
}

.flip-card-front h2 {
    margin-bottom: 1px; /* Juster denne verdien for å redusere avstanden */
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

  /* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7eaf6;
}

header {
    background-color: #38598b;
    color: #e7eaf6;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #38598b;
    color: #e7eaf6;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
    width:100%;
  }

  a {
    color: #e7eaf6;
  }

nav {
    display: flex;
    align-items: center;
    background-color: #38598b;
}

nav .logo {
    margin-right: auto;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Legger til flex-wrap for å sikre at elementene holder seg horisontale */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  .special-link{
    color:#38598b;
    
  }